.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.examples {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.example {
  flex: 0 33%;
  margin: 50px;
}
